.mdl-navigation__link:hover {
  color: #3f51b5 !important;
}

.mdl-layout__content {
  width: 100%;
  margin-left: 4%;
}

.donation-cell {
  margin: 0px;
  width: 50%;
}

.donor-list-header {
  text-decoration: underline;
  color: $brand-secondary;
}

.donor-check {
  font-size: 13px;
  color: green;
}

.demo-card-wide {
  min-height: 100%;
}

.mdl-card--border {
  bottom: 0;
  position: absolute;
}

.mdl-card__supporting-text {
  height: 320px;
}

.demo-card-full-width {
  width: 100%;

  .donor-title {
    color: $brand-secondary !important;
  }
}

.mdl-navigation__link.active {
    background-color: #e0e0e0 !important;
}

.pagination{
  li{
    height: 30px;
    width: 30px;
    color: rgba(0,0,0,.5);
    transition: color 2s;
    cursor: pointer;
    display: inline-block;
    line-height: 30px;
  }
  li[active]{
    background: #2196F3;
    border-radius: 50%;
    color: white;
  }
  li[active]:hover{
    color: white;
  }
  li:hover{
    color: rgba(0,0,0,1);
    transition: color 2s;
  }
  li:first-child{
    margin-left: 10px;
  }
  li:last-child{
    margin-right: 10px;
  }
  font-size: 20px;
  text-align: center;
}

.table-header {
  font-size: 20px !important;
}

.mdl-chip.success {
  background-color: lighten($brand-success, 20%);
}

.form-input {
  margin: 10px;
  & > input, & > label{
    font-size:25px;
  }
}

.mdl-navigation__link > a {
  text-decoration: none !important
}
